.accordion--no-js {

  .accordion__toggle {
    display: none;
  }

  .accordion__desc {
    display: flex;
  }
}

.accordion__desc {
  display: none;
}

.accordion__item {

  &--show {

    .accordion__desc {
      display: flex;
    }

    button {

      &::after {
        transform: rotate(-45deg);
        top: 53px;

        @media (max-width: $tablet-width) {
          top: 52px;
        }

        @media (max-width: $mobile-width) {
          top: 27px;
        }
      }
    }
  }
}
