.button {
  @include flex-center;
  cursor: pointer;
  border: none;
  appearance: none;
  padding: 0;
  width: 100%;
  min-height: 68px;
  @include font($poppins, 16px, 21px, 500, normal);

  &--filter {
    display: none;

    @media (max-width: $tablet-width) {
      display: block;
    }
  }

  &--apply,
  &--form,
  &--filter {
    background-color: $dark-orange;
    color: $main-white;
    border: 1px solid $dark-orange;

    &:hover,
    &:focus-visible {
      transition: $trans--300;
      background-color: transparent;
      border: 1px solid $dark-orange;
      color: $main-black;
    }
  }

  &--reset {
    background-color: $main-white;
    border: 1px solid $dark-orange;
    color: $main-black;
    margin-top: 25px;

    &:hover,
    &:focus-visible {
      transition: $trans--300;
      background-color: $dark-orange;
      color: $main-white;
    }
  }

  &--burger {
    span,
    span::after,
    span::before {
      content: "";
      width: 25px;
      height: 2px;
      position: absolute;
      background-color: $main-black;
    }

    span {
      top: 26px;
      left: 12.5px;
    }

    span::after {
      top: -7.6px;
      left: 0;
    }

    span::before {
      top: 7.5px;
      left: 0;
    }

    &:hover span,
    &:focus-visible span,
    &:hover span::after,
    &:focus-visible span::after,
    &:hover span::before,
    &:focus-visible span::before {
      transition: $trans--300;
      background-color: $dark-orange;
    }
  }

  &--closed {
    background-color: transparent;
    position: absolute;

    &:hover span::after,
    &:focus-visible span::after,
    &:hover span::before,
    &:focus-visible span::before {
      transition: $trans--300;
      background-color: $main-black;
    }

    span::after,
    span::before {
      content: "";
      position: absolute;
      width: 31px;
      height: 2px;
      background-color: $main-white;
    }

    span::before {
      top: 25px;
      left: 9.5px;
      transform: rotate(45deg);
    }

    span::after {
      top: 25px;
      left: 9.5px;
      transform: rotate(-45deg);
    }
  }

  &:active {
    transition: $trans--300;
    opacity: 0.5;
  }
}
