.footer {
  flex: 0 0 auto;
  min-height: 338px;
  background-color: #000000;

  @media (max-width: $tablet-width) {
    min-height: 446px;
  }

  @media (max-width: $mobile-width) {
    min-height: 773px;
  }

  a {
    @include font($poppins, 16px, 21px, 500, normal);
    color: $main-white;
    text-decoration: none;
    padding-bottom: 2px;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: $trans--300;

    &:hover,
    &:focus-visible {
      background-size: 100% 1px;
    }

    &:active {
      opacity: 0.7;
    }
  }
}

.footer__wrapper,
.footer__navigation {
  display: flex;
  flex-flow: row wrap;
}

.footer__navigation {
  margin-top: 7px;
  flex-grow: 1;

  @media (max-width: $tablet-width) {
    margin-top: 46px;
  }

  @media (max-width: $mobile-width) {
    flex-flow: column nowrap;
  }
}

.footer__wrapper {
  min-height: 148px;
  display: flex;
  justify-content: flex-start;
  margin-top: 90px;

  @media (max-width: $tablet-width) {
    margin-top: 50px;
  }
}

.footer__newsletter {
  margin-right: 91px;
  display: flex;
  flex-flow: column wrap;
  flex: 0 10 42.7%;

  @media (max-width: $tablet-width) {
    flex-basis: 82.6%;
  }

  @media (max-width: $mobile-width) {
    flex-basis: 100%;
    margin-right: 0;
  }

  h2,
  p {
    margin: 0;
    padding: 0;

    @media (max-width: $mobile-width) {
      padding-right: 50px;
    }
  }

  h2 {
    @include font($cormorant, 34px, 44px, 700, normal);
    color: $main-white;
    padding-bottom: 9px;
    letter-spacing: 0.75px;

    @media (max-width: $mobile-width) {
      padding-bottom: 13px;
    }
  }

  p {
    @include font($poppins, 16px, 21px, 400, normal);
    color: $dark-gray;
    padding-bottom: 38px;

    @media (max-width: $mobile-width) {
      padding-bottom: 37px;
    }
  }
}

.footer__form {
  position: relative;
  height: 36px;
  border-bottom: 1px solid $main-white;
  display: flex;
  flex-wrap: wrap;

  input {
    @include font($poppins, 14px, 21px, 400, normal);
    color: $main-white;
    border: none;
    background-color: transparent;
    flex-grow: 1;

    @media (max-width: $mobile-width) {
      width: 50%;
    }

    &::placeholder {
      color: $dark-gray;
    }

    &:hover::placeholder,
    &:focus-visible::placeholder {
      transition: $trans--300;
      color: $main-white;
    }
  }

  button {
    border: none;
    background-color: transparent;
    appearance: none;
    cursor: pointer;
    position: relative;
    width: 144px;

    @include font($poppins, 16px, 21px, 400, normal);
    color: $main-white;

    &::before {
      content: "";
      position: absolute;
      top: 15px;
      right: 0;
      width: 29px;
      height: 1px;
      background-color: $main-white;
      display: block;
    }

    span::after,
    span::before {
      content: "";
      position: absolute;
      width: 7.2px;
      height: 1px;
      right: -1px;
      background-color: $main-white;
    }

    span::after {
      top: 13px;
      transform: rotate(36deg);
    }

    span::before {
      top: 17px;
      transform: rotate(-36deg);
    }

    &:hover,
    &:focus-visible {
      transition: $trans--300;
      transform: translateX(8px) scale(0.9);
    }

    &:active {
      opacity: 0.7;
    }
  }
}

.footer__aside-list,
.footer__about-us-list,
.footer__social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;

  @media (max-width: $tablet-width) {
    flex-basis: 33%;
  }

  @media (max-width: $mobile-width) {
    flex-basis: 20%;
  }

  li {
    padding-bottom: 21px;
  }
}

.footer__about-us-list {
  padding-left: 20px;

  @media (max-width: $tablet-width) {
    padding-left: 29px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 0;
    padding-top: 20px;
  }
}

.footer__social-list {
  align-content: flex-end;

  @media (max-width: $tablet-width) {
    align-content: flex-start;
    padding-left: 5px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 0;
    padding-top: 24px;
    flex-direction: row;
  }
}

.footer__social-item {

  @media (max-width: $mobile-width) {
    margin-right: 17px;
  }

  svg {
    margin-right: 12px;
  }

  &--fb {
    text-align: center;

    svg {
      margin-right: 14px;

      @media (max-width: $mobile-width) {
        width: 12px;
        height: 21px;
      }
    }
  }

  &--twit {

    @media (max-width: $mobile-width) {
      margin-top: 3px;

      svg {
        width: 20px;
        height: 18px;
      }
    }
  }

  &--inst,
  &--pint {

    @media (max-width: $mobile-width) {
      svg {
        width: 20px;
        height: 21px;
      }
    }
  }

  span {

    @media (max-width: $mobile-width) {
      display: none;
    }
  }
}
