.modal-login {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: calc(100vw - 50px);
  max-width: 430px;
  height: 586px;
  background-color: $light-gray;
  transition: $trans--300;

  @media (max-width: $tablet-width) {
    max-width: 442px;
  }

  @media (max-width: $mobile-width) {
    height: 470px;
  }

  &--show {
    animation: bounce .6s;
    position: fixed;
    top: 5%;
    right: 0;
    bottom: 5%;
    left: 0;
    z-index: 50;
  }

  &--no-js {
    width: 100%;
    margin: 0 auto;
  }
}

.modal-login__button {
  width: 50px;
  min-height: 50px;
  right: 0;
  top: 0;

  @media (max-width: $mobile-width) {
    width: 40px;
    min-height: 40px;
  }

  span {
    &::after,
    &::before {
      width: 17px;
      background-color: $main-black;
      left: 15px;
      top: 26px;

      @media (max-width: $tablet-width) {
        width: 25px;
        height: 3px;
        left: 7px;
        top: 30px;
      }

      @media (max-width: $mobile-width) {
        width: 17px;
        height: 2px;
        top: 21px;
        left: 10px;
      }
    }
  }

  &:hover span::after,
  &:focus-visible span::after,
  &:hover span::before,
  &:focus-visible span::before {
    transition: $trans--300;
    background-color: $main-white;
  }
}

.modal-login__header {
  width: 100%;
  height: 138px;
  background-image: url("../img/sweet-ice-cream-photography.jpg");
  background-color: $dark-orange;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $mobile-width) {
    height: 84px;
  }
}

.modal-login__wrapper {
  padding: 50px 45px;
  flex-grow: 1;

  @media (max-width: $tablet-width) {
    padding: 50px 51px;
  }

  @media (max-width: $mobile-width) {
    padding: 36px 15px;
  }

  h2 {
    @include font($cormorant, 34px, 44px, 700, normal);
    text-align: center;
    margin: 0;
    padding-bottom: 44px;

    @media (max-width: $tablet-width) {
      padding-bottom: 32px;
    }

    @media (max-width: $mobile-width) {
      @include resize-txt(24px, 31px);
      padding-bottom: 26px;
    }
  }

  span {
    @include font($poppins, 14px, 21px, 500, normal);
    display: block;
    color: $dark-gray;
    text-align: center;
    padding-top: 15px;
  }

  a {
    color: $main-black;
    padding-left: 10px;

    &:hover,
    &:focus-visible {
      transition: $trans--300;
      color: $main-black;
      text-decoration: underline;
    }

    &:active {
      opacity: 0.7;
    }
  }
}

.modal-login__form {
  display: flex;
  flex-flow: column wrap;

  input {
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid $main-black;
    @include font($poppins, 14px, 21px, 500, normal);
    color: $main-black;
    padding-bottom: 9px;

    &::placeholder {
      color: $dark-gray;
    }

    &:hover,
    &:focus-visible {
      transition: $trans--300;
      border-bottom: 1px solid $dark-orange;

      &::placeholder {
        transition: $trans--300;
        color: $main-black;
      }
    }
  }
}

.modal-login__input-email {
  margin-bottom: 20px;

  @media (max-width: $tablet-width) {
    margin-bottom: 33px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 28px;
  }
}

.modal-login__input-password {
  margin-bottom: 45px;

  @media (max-width: $mobile-width) {
    margin-bottom: 35px;
  }

  a {
    @include font($poppins, 12px, 18px, 500, normal);
    color: $dark-gray;
    text-align: right;
    display: block;
    width: fit-content;
    margin-left: auto;
    padding-top: 5px;

    &:hover,
    &:focus-visible {
      transition: $trans--300;
      color: $main-black;
      text-decoration: underline;
    }

    &:active {
      opacity: 0.7;
    }
  }
}
