.product__control {
  @include flex-center;
  flex-flow: column wrap;
  position: relative;
  margin-top: 120px;

  @media (max-width: $tablet-width) {
    margin-top: 70px;
    width: 768px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 60px;
    width: 100%;
  }

  h2 {
    @include font($cormorant, 34px, 44px, 700, normal);
    color: $main-black;
    margin: 0;
    padding-bottom: 23px;
    width: 100px;

    @media (max-width: $tablet-width) {
      padding-bottom: 19px;
    }
  }
}

.product__control-btn {
  border: none;
  background-color: transparent;
  position: absolute;
  cursor: pointer;
  width: 29px;
  height: 50px;

  &:hover,
  &:focus-visible {
    transition: $trans--300;
    transform: scale(0.7);
  }

  @media (max-width: $tablet-width) {
    width: 36px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }

  &--left {
    left: 0;
    top: 23px;

    @media (min-width: $desktop-width) and (max-width: 1210px) {
      left: 20px;
    }

    @media (max-width: $tablet-width) {
      left: 44px;
    }
  }

  &--right {
    right: 0;
    top: 24px;

    @media (min-width: $desktop-width) and (max-width: 1210px) {
      right: 20px;
    }

    @media (max-width: $tablet-width) {
      right: 44px;
      top: 20px;
    }
  }

  &--left::after,
  &--right::after {
    position: absolute;
    content: url("../img/arrow.svg");

    @media (max-width: $tablet-width) {
      content: url("../img/arrow-big.svg");
    }
  }

  &--left::after {
    left: -1px;
    top: 20px;

    @media (max-width: $tablet-width) {
      left: 0px;
      top: 18px;
    }
  }

  &--right::after {
    transform: rotate(180deg);
    right: -1px;
    top: 17px;

    @media (max-width: $tablet-width) {
      right: 0;
      top: 18px;
    }
  }
}

.product__link {
  @include font($poppins, 16px, 21px, 500, normal);
  color: $main-black;
  border-bottom: 1px solid $dark-orange;
  transition: $trans--300;

  @media (max-width: $tablet-width) {
    padding-bottom: 4px;
  }

  &:hover,
  &:focus-visible {
    color: $dark-orange;
  }

  &:active {
    opacity: 0.7;
  }
}

.product__container {
  width: 1200px;
  margin: 30px auto 0;
  overflow: hidden;

  @media (min-width: $desktop-width) and (max-width: 1200px) {
    width: 100%;
  }

  &--no-js {
    overflow: auto;
  }

  @media (max-width: $tablet-width) {
    margin-top: 0;
    width: 708px;
    margin-bottom: 40px;
  }

  @media (max-width: $mobile-width) {
    // width: 320px;
    width: 100%;
    margin-bottom: 10px;
  }
}

.product__list {
  display: flex;
  margin: 0;
  list-style: none;
  padding: 30px 25px 0 15px;

  @media (max-width: $tablet-width) {
    padding-top: 10px;
    margin-top: 40px;
  }

  @media (max-width: $mobile-width) {
    padding: 10px 46px 0 15px;
    margin-top: 30px;
  }
}

.product__item {
  min-width: 270px;
  min-height: 284px;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  cursor: pointer;
  transition: $trans--300;

  @media (min-width: $desktop-width) and (max-width: 1200px) {
    min-width: 23%;
  }

  &:not(:last-child) {
    margin-right: 30px;
  }

  @media (max-width: $tablet-width) {
    min-width: 324px;
    margin-right: 30px;
  }

  @media (max-width: $mobile-width) {
    min-width: 50%;
    min-height: 240px;
    justify-content: flex-start;
  }

  figure {
    margin: 0;
  }

  p {
    @include font($poppins, 16px, 21px, 500, normal);
    margin: 0;
    color: $main-black;
    text-align: center;
    margin-top: 21px;

    @media (max-width: $mobile-width) {
      margin-top: 16px;
    }

    &:last-child {
      @include font($poppins, 14px, 18px, 700, normal);
      margin-top: 6px;
      display: block;
    }
  }

  img {
    height: auto;

    @media (max-width: $tablet-width) {
      min-width: 324px;
      // height: 340px;
    }

    @media (max-width: $mobile-width) {
      min-width: 130px;
      // height: 136px;
    }
  }

  &:hover img,
  &:focus-visible img,
  &:hover p,
  &:focus-visible p {
    transition: $trans--300;
    transform: scale(1.05);
    color: $dark-orange;

    @media (max-width: $tablet-width) {
      transform: scale(1.02);
    }
  }

  &:active {
    transition: $trans--300;
    opacity: 0.7;
    transform: scale(0.9)
  }
}

.product__pagination-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 60px;
  margin: 52px auto;
  overflow: hidden;
  padding-left: 6px;

  @media (max-width: $tablet-width) {
    margin-top: 30px;
    width: 130px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.product__pagination-item {
  @include font($poppins, 16px, 21px, 500, normal);
  margin-right: 12px;
  cursor: pointer;
  color: $dark-gray;

  @media (max-width: $tablet-width) {
    margin-right: 13px;
  }

  &--active {
    color: $main-black;
  }

  &:hover,
  &:focus-visible {
    transition: $trans--300;
    color: $dark-orange;
  }

  &:active {
    opacity: 0.7;
  }
}

.product__page-number {
  display: none;

  @media (max-width: $mobile-width) {
    @include font($poppins, 16px, 21px, 500, normal);
    color: $main-black;
    display: flex;
    justify-content: center;
  }
}

.product__page-current {
  margin-right: 10px;
}

.product__page-total {
  margin-left: 10px;
}
